<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.Implementist.mapper.CharityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.Implementist.entity.Charity">
        <id column="Cid" property="Cid" />
        <result column="Cname" property="Cname" />
        <result column="Uid" property="Uid" />
        <result column="Cimage" property="Cimage" />
        <result column="Cdetail" property="Cdetail" />
        <result column="Cneed" property="Cneed" />
        <result column="Cnumber" property="Cnumber" />
        <result column="Ctime" property="Ctime" />
        <result column="Cdeadline" property="Cdeadline" />
        <result column="Ctype" property="Ctype" />
        <result column="Caddress" property="Caddress" />
        <result column="Cscannum" property="Cscannum" />
        <result column="Cjoinnum" property="Cjoinnum" />
        <result column="Cstate" property="Cstate" />
    </resultMap>

</mapper>
