<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.Implementist.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.Implementist.entity.User">
        <id column="Uid" property="Uid" />
        <result column="Uaccount" property="Uaccount" />
        <result column="Upwd" property="Upwd" />
        <result column="Uhxid" property="Uhxid" />
        <result column="Unickname" property="Unickname" />
        <result column="Uphoto" property="Uphoto" />
        <result column="Ubalance" property="Ubalance" />
        <result column="Usex" property="Usex" />
        <result column="Uschool" property="Uschool" />
        <result column="Uaddress" property="Uaddress" />
        <result column="Ureputation" property="Ureputation" />
        <result column="Utel" property="Utel" />
        <result column="Ustate" property="Ustate" />
    </resultMap>

</mapper>
